.gigya-screen-caption{
font-family:arial;
padding-left:11px;
line-height:40px
}

.gigya-screen,
.gigya-screen * {
margin:0auto;
padding:0;
border:none;
color:inherit;
text-decoration:none;
width:auto;
float:none;
border-radius:0;
font-size:15px;
color:#4e515e;
text-align:left;
font-family:arial;
box-sizing:content-box
}

.gigya-locale-ar.gigya-checkbox-text,
.gigya-locale-ar.gigya-composite-control-header,
.gigya-locale-ar.gigya-composite-control-label,
.gigya-locale-ar.gigya-composite-control-link,
.gigya-locale-ar.gigya-label,
.gigya-locale-ar.gigya-legend,
.gigya-locale-ar.gigya-multi-choice-itemlabel,
.gigya-locale-arinput,
.gigya-locale-arselect,
.gigya-locale-he.gigya-checkbox-text,
.gigya-locale-he.gigya-composite-control-header,
.gigya-locale-he.gigya-composite-control-label,
.gigya-locale-he.gigya-composite-control-link,
.gigya-locale-he.gigya-label,
.gigya-locale-he.gigya-legend,
.gigya-locale-he.gigya-multi-choice-itemlabel,
.gigya-locale-heinput,
.gigya-locale-heselect{
direction:rtl
}

.gigya-screen{
box-sizing:border-box;
padding-bottom:25px
}

.gigya-screen.gigya-label,
.gigya-screen.gigya-legend{
display:-ms-inline-flexbox;
display:inline-flex;
font-weight:700;
font-size:15px;
color:#4e515e
}

.gigya-screen.gigya-label-text,
.gigya-screen.gigya-legend-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-label,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-header-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-label,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-header-subtext,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-header-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-phonenumber,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-header-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-number,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-example,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-typespan,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-header-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-typespan,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-yourphone{
display:inline-block;
font-weight:lighter;
font-size:15px;
font-family:arial;
color:#4e515e
}

.gigya-screen.gigya-checkbox-text{
display:inline
}

.gigya-screen.gigya-message{
font-size:15px;
color:#333;
display:block;
text-align:center
}

.gigya-screen.gigya-message.left{
text-align:left;
padding-bottom:40px
}

.gigya-screen.gigya-social-login-container{
margin:auto
}

.gigya-screen.gigya-forgotPassword,
.gigya-screen.gigya-forgotPassword:link{
float:right
}

.gigya-screen.gigya-keep-me-logged-in{
display:block
}

.gigya-screen.gigya-input-password,
.gigya-screen.gigya-input-text,
.gigya-screen.gigya-textarea,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox{
padding-left:7px;
box-sizing:border-box;
width:100%;
text-indent:5px;
border-color:#b6bdc5;
color:#4e515e;
outline:none;
border-radius:4.5px;
box-shadow:inset01px3pxrgba(0,0,0,.05)
}

.gigya-screen.gigya-input-password:focus,
.gigya-screen.gigya-input-text:focus,
.gigya-screen.gigya-textarea:focus,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox:focus{
border:1pxsolid#87b9ea;
outline:none;
box-shadow:005px0#1d87ff
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gig-tfa-code-textbox,
.gigya-screeninput.gigya-input-password,
.gigya-screeninput.gigya-input-text,
.gigya-screenselect.gigya-country-code-select{
border:1pxsolid#b6bdc5
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gig-tfa-code-textbox:disabled,
.gigya-screeninput.gigya-input-password:disabled,
.gigya-screeninput.gigya-input-text:disabled,
.gigya-screenselect.gigya-country-code-select:disabled{
background-color:#f2f2f2;
border-color:#d4dee4;
color:#6a6a6a
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gigya-error.gig-tfa-code-textbox,
.gigya-screeninput.gigya-input-password.gigya-error,
.gigya-screeninput.gigya-input-text.gigya-error,
.gigya-screenselect.gigya-country-code-select.gigya-error{
border-radius:4.5px;
border-style:solid;
border-width:1px;
border-color:#ce4635
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gig-tfa-code-textbox:focus,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gigya-error.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gigya-error.gig-tfa-code-textbox:focus,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gigya-pending.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gigya-pending.gig-tfa-code-textbox:focus,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gigya-valid.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gigya-valid.gig-tfa-code-textbox:focus,
.gigya-screeninput.gigya-input-password,
.gigya-screeninput.gigya-input-password.gigya-error,
.gigya-screeninput.gigya-input-password.gigya-error:focus,
.gigya-screeninput.gigya-input-password.gigya-pending,
.gigya-screeninput.gigya-input-password.gigya-pending:focus,
.gigya-screeninput.gigya-input-password.gigya-valid,
.gigya-screeninput.gigya-input-password.gigya-valid:focus,
.gigya-screeninput.gigya-input-password:focus,
.gigya-screeninput.gigya-input-text,
.gigya-screeninput.gigya-input-text.gigya-error,
.gigya-screeninput.gigya-input-text.gigya-error:focus,
.gigya-screeninput.gigya-input-text.gigya-pending,
.gigya-screeninput.gigya-input-text.gigya-pending:focus,
.gigya-screeninput.gigya-input-text.gigya-valid,
.gigya-screeninput.gigya-input-text.gigya-valid:focus,
.gigya-screeninput.gigya-input-text:focus,
.gigya-screenselect.gigya-country-code-select,
.gigya-screenselect.gigya-country-code-select.gigya-error,
.gigya-screenselect.gigya-country-code-select.gigya-error:focus,
.gigya-screenselect.gigya-country-code-select.gigya-pending,
.gigya-screenselect.gigya-country-code-select.gigya-pending:focus,
.gigya-screenselect.gigya-country-code-select.gigya-valid,
.gigya-screenselect.gigya-country-code-select.gigya-valid:focus,
.gigya-screenselect.gigya-country-code-select:focus{
padding-left:7px
}

.gigya-screen.gigya-input-password,
.gigya-screen.gigya-input-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox,
.gigya-screenselect{
height:43px
}

.gigya-screen.gigya-required-display{
color:#ce4635;
display:inline-block;
padding:05px
}

.gigya-screen.gigya-error-display{
display:none
}

.gigya-screen.gigya-error-display.gigya-error-display-active{
display:block
}

.gigya-screen.gigya-error-msg,
.gigya-screen.gigya-error-msg-active.gigya-form-error-msg{
line-height:14px;
font-size:13px;
text-align:center;
font-weight:400;
box-sizing:border-box
}

.gigya-screen.gigya-error-msg-active.gigya-form-error-msg,
.gigya-screen.gigya-error-msg.gigya-error-msg-active{
padding-top:8px;
padding-bottom:0;
color:#ce4635;
font-weight:700;
font-size:13px;
line-height:15px
}

.gigya-screen.gigya-error-msg-active.gigya-form-error-msg{
_height:26px;
font-size:12px;
min-height:26px;
text-align:center;
margin-top:1px;
border:1px#ce4635;
border-radius:4.4px;
font-weight:700;
padding:10px
}

.gigya-screen.gigya-login-provider-row:first-child{
padding-top:0
}

.gigya-screen.gigya-container{
text-align:inherit;
text-decoration:inherit;
font-size:inherit;
color:inherit
}

.gigya-screendiv.gigya-container.gigya-visible-when.gigya-composite-control{
display:block
}

.gigya-screen.gigya-myPhoto-profile-box-wrapper{
margin-left:0;
margin-top:0
}

.gigya-screen.label-divider{
display:block;
width:100%;
height:80px;
background-repeat:repeat-x;
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAMSURBVBhXY7h8+TIABPYCeicnV7oAAAAASUVORK5CYII=);
background-position:50%;
box-sizing:border-box;
padding:0!important
}

.gigya-screen.label-dividerspan{
display:inline-block;
background-color:#fff;
margin-top:31px;
padding-left:10px;
padding-right:10px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend:link,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend:visited,
.gigya-screena,
.gigya-screena:active,
.gigya-screena:link,
.gigya-screena:visited{
color:#1371b9;
text-decoration:none;
font-size:15px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend:hover,
.gigya-screena:hover{
text-decoration:underline
}

.gigya-screenh1,
.gigya-screenh2{
line-height:15px;
font-size:15px;
color:#4e515e;
font-weight:400;
text-align:center
}

.gigya-screenh1{
border-bottom:1pxsolid#dbdbdb;
font-weight:700
}

.gigya-screenfieldset{
border:none;
padding:0;
margin:0
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-button.gig-tfa-phone-code-resend,
.gigya-screena.gigya-button,
.gigya-screeninput[type=email],
.gigya-screeninput[type=password],
.gigya-screeninput[type=text],
.gigya-screenselect,
.gigya-screentextarea{
width:100%;
border-radius:4.5px;
border:1pxsolid#b6bdc5;
background-color:#fff;
box-sizing:border-box
}

.gigya-screeninput:-ms-input-placeholder{
color:#a9a9a9
}

.gigya-screen.gig-tfa-button-submit,
.gigya-screen.gigya-button,
.gigya-screen.gigya-composite-control-link,
.gigya-screen.gigya-composite-control-submit,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button-submit,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-link,
.gigya-screeninput[type=button],
.gigya-screeninput[type=submit]{
-webkit-appearance:none;
-moz-appearance:none;
appearance:none
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button-submit,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-link,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-button.gig-tfa-phone-code-resend,
.gigya-screena.gigya-button,
.gigya-screeninput[type=button],
.gigya-screeninput[type=submit]{
cursor:pointer;
width:100%;
height:43px;
border-radius:1.79px;
border-color:#1371b9;
box-shadow:001px0rgba(0,0,0,.4);
color:#fff;
background-color:#0070f0;
-ms-flex-line-pack:center;
align-content:center;
text-align:center;
font-size:19px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button-submit:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button-submit:hover,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button:hover,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-link:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-link:hover,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-button.gig-tfa-phone-code-resend:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-button.gig-tfa-phone-code-resend:hover,
.gigya-screena.gigya-button:active,
.gigya-screena.gigya-button:hover,
.gigya-screeninput[type=button]:active,
.gigya-screeninput[type=button]:hover,
.gigya-screeninput[type=submit]:active,
.gigya-screeninput[type=submit]:hover{
background-color:#0056b8
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button-submit:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-link:active,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-button.gig-tfa-phone-code-resend:active,
.gigya-screena.gigya-button:active,
.gigya-screeninput[type=button]:active,
.gigya-screeninput[type=submit]:active{
box-shadow:inset02px7px0rgba(0,0,0,.4)
}

.gigya-screen[data-gigya-api-link]{
cursor:pointer
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-checkbox,
.gigya-screeninput[type=checkbox],
.gigya-screeninput[type=radio]{
width:auto;
margin:2px000;
padding:0;
border-radius:0;
border:none;
vertical-align:middle
}

.gigya-screenoption{
width:100%;
padding:5px
}

.gigya-screenoption:hover{
background-color:#3593c1
}

.gigya-screeni.gigya-pencil{
content:url(https://cdns.gigya.com/gs/i/gm/pencil.png);
width:14px;
height:14px;
margin:03px
}

.gigya-screenlabel.letter-spacing-s{
letter-spacing:-.1px
}

.gigya-screen.gigya-composite-control-phone-number-inputselect.gigya-country-code-select{
display:inline-block;
width:116px;
margin:0
}

.gigya-screen.gigya-composite-control-phone-number-inputselect.gigya-country-code-select.gigya-error{
padding:0
}

.gigya-screen.gigya-composite-control-phone-number-inputinput.gigya-subscriber-phone-number-input{
display:inline-block;
width:calc(100%-121px);
margin:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widgeta:hover,
.gigya-screen.portrait.gigya-composite-control.gigya-composite-control-phone-number-widgetdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend:hover,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-composite-control.gigya-composite-control-phone-number-widget.gig-tfa-phone-code-resend:hover{
font-size:inherit;
color:#1371b9;
cursor:pointer
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-country-code-select{
width:116px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widgetinput.gigya-input-text.gigya-phone-number-verification-code,
.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widgetinput.gigya-input-text.gigya-subscriber-phone-number-input,
.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widgetselect.gigya-country-code-select,
.gigya-screen.portrait.gigya-composite-control.gigya-composite-control-phone-number-widgetdiv.gigya-tfa.gig-tfa-containerinput.gigya-phone-number-verification-code.gig-tfa-code-textbox,
.gigya-screen.portrait.gigya-composite-control.gigya-composite-control-phone-number-widgetdiv.gigya-tfa.gig-tfa-containerinput.gigya-subscriber-phone-number-input.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-composite-control.gigya-composite-control-phone-number-widgetinput.gigya-phone-number-verification-code.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-composite-control.gigya-composite-control-phone-number-widgetinput.gigya-subscriber-phone-number-input.gig-tfa-code-textbox{
margin:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-number-verification-code-wrapper{
display:-ms-flexbox;
display:flex;
-ms-flex-align:center;
align-items:center;
margin:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-number-widget-wrapper{
margin:0013px0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-fieldset{
display:none;
-ms-flex-align:center;
align-items:center
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-number-preview{
-ms-flex-negative:0;
flex-shrink:0;
margin:08px00
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-number-verification{
-ms-flex-pack:justify;
justify-content:space-between
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-number-verification-code{
width:80px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-fieldset.gigya-phone-number-input{
display:-ms-flexbox;
display:flex
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-verified-status-image{
margin-right:4px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widgetselect.gigya-country-code-select{
width:95px;
margin-right:16px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-country-code-select.gigya-error{
padding:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-input-text.gigya-subscriber-phone-number-input,
.gigya-screen.portrait.gigya-composite-control.gigya-composite-control-phone-number-widgetdiv.gigya-tfa.gig-tfa-container.gigya-subscriber-phone-number-input.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-subscriber-phone-number-input.gig-tfa-code-textbox{
box-sizing:border-box
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-verify-button{
margin:0;
display:none
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-resend-button{
margin:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-resend-blocked{
margin:0;
text-align:center
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-verified-status,
.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-verify-button{
margin-left:32px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-verified-status{
display:-ms-flexbox;
display:flex;
-ms-flex-align:center;
align-items:center
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-phone-verified-status.gigya-show-checkmark{
margin-right:4px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier[data-widget-code-state=resend].gigya-phone-resend-button{
display:block
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier[data-widget-code-state=resend].gigya-phone-resend-blocked,
.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier[data-widget-code-state=sent].gigya-phone-resend-button{
display:none
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier.gigya-phone-verify-button,
.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier[data-widget-code-state=sent].gigya-phone-resend-blocked{
display:block
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier.gigya-phone-number-input{
display:none
}

.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier[data-widget-state=mobile].gigya-phone-number-input,
.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier[data-widget-state=verification].gigya-phone-number-verification,
.gigya-screen.gigya-composite-control.gigya-composite-control-phone-number-widget.gigya-composite-control-phone-number-widget-identifier[data-widget-state=verified].gigya-phone-number-verified{
display:-ms-flexbox;
display:flex
}

.gigya-screen.gigya-layout-row{
zoom:1;
display:block;
text-align:center
}

.gigya-screen.gigya-layout-row:after{
content:"";
display:table;
clear:both
}

.gigya-screen.gigya-layout-row.with-two-inputs.gigya-composite-control{
padding-right:7.5px
}

.gigya-screen.gigya-layout-row.with-two-inputs>.gigya-layout-cell+.gigya-layout-cell>.gigya-composite-control{
padding-right:0;
padding-left:7.5px
}

.gigya-screen.gigya-layout-cell{
text-align:center;
float:left;
width:50%
}

.gigya-screen.gigya-layout-cell.gigya-error-cell{
width:100%;
max-width:none;
min-width:0
}

.gigya-screen.gigya-layout-cell.gigya-layout-cell{
max-width:50%
}

.gigya-screen.gigya-layout-cell.gigya-no-float{
float:none
}

.gigya-screen.gigya-layout-footer{
text-align:right;
clear:both
}

.gigya-screen.portrait.gigya-layout-row.submit-button{
padding-bottom:25px
}

.gigya-screen.portrait.gigya-layout-row.gigya-layout-cell.responsive,
.gigya-screen.portrait.gigya-layout-row.with-divider.gigya-layout-cell.responsive{
float:none;
min-width:100%;
width:100%
}

.gigya-screen-contentdiv.gigya-screen.landscape{
padding-left:43px;
padding-right:43px;
width:920px
}

.gigya-screen.landscape{
padding-top:50px
}

.gigya-screen.landscape.gigya-composite-control.gigya-composite-control-social-login{
position:relative;
right:25px
}

.gigya-screen.portrait{
width:500px;
font-size:15px;
padding-left:68px;
padding-right:68px;
padding-top:40px
}

.gigya-screen.portrait.sub-title-text{
font-size:15px
}

.gigya-screen.portrait.gigya-error-msg-active.gigya-form-error-msg,
.gigya-screen.portrait.gigya-error-msg.gigya-error-msg-active{
font-size:13px
}

.gigya-screen.portrait.text-field-disabled{
background-color:#f2f2f2;
border:1pxsolid#d6dee4;
border-radius:2px;
color:#4e515e
}

.gigya-screen.portrait.gigya-composite-control{
padding-left:0;
padding-right:0
}

.gigya-screen.portrait.gigya-composite-control.gigya-composite-control-social-login{
width:calc(100%+50px);
position:relative;
right:27px
}

.gigya-screen.portrait.mobile{
width:100%;
padding-top:30px;
padding-bottom:15px;
padding-left:20px;
padding-right:20px
}

.gigya-screen.portrait.mobile:before{
display:block;
width:375px;
content:""
}

.gigya-screen.portrait.mobile.text-field-disabled{
color:#4e515e
}

.gigya-screen.portrait.mobile.forgotpassword,
.gigya-screen.portrait.mobile.gigya-composite-control-label,
.gigya-screen.portrait.mobile.gigya-error-msg-active.gigya-form-error-msg,
.gigya-screen.portrait.mobile.gigya-error-msg.gigya-error-msg-active,
.gigya-screen.portrait.mobile.gigya-forgotPassword,
.gigya-screen.portrait.mobile.gigya-label,
.gigya-screen.portrait.mobile.gigya-label-text,
.gigya-screen.portrait.mobile.gigya-legend,
.gigya-screen.portrait.mobile.gigya-legend-text,
.gigya-screen.portrait.mobile.gigya-login-footer-text-wrapper,
.gigya-screen.portrait.mobile.gigya-message,
.gigya-screen.portrait.mobile.gigya-terms-of-use,
.gigya-screen.portrait.mobile.main-header,
.gigya-screen.portrait.mobile.site-title,
.gigya-screen.portrait.mobile.sub-title-text,
.gigya-screen.portrait.mobilea,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-label,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-header-text,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-label,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-header-subtext,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-header-text,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-phonenumber,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-header-text,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-number,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-example,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-typespan,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-header-text,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-typespan,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-yourphone,
.gigya-screen.portrait.mobileh1,
.gigya-screen.portrait.mobileh2{
font-size:13px
}

.gigya-screen.portrait.mobileinput[type=email],
.gigya-screen.portrait.mobileinput[type=password],
.gigya-screen.portrait.mobileinput[type=text],
.gigya-screen.portrait.mobileselect{
height:36px;
font-size:13px
}

.gigya-screen.portrait.mobile.gigya-error-msg-active.gigya-form-error-msg,
.gigya-screen.portrait.mobile.gigya-error-msg.gigya-error-msg-active{
font-size:13px
}

.gigya-screen.portrait.mobile.gigya-composite-control-social-login{
width:calc(100%+40px);
position:relative;
right:20px
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-checkbox,
.gigya-screen.portrait.mobileinput[type=checkbox]{
margin-bottom:2px
}

.gigya-screen.portrait.mobilelabel.letter-spacing-s{
letter-spacing:0
}

.gigya-screen.gigya-composite-control{
padding-bottom:18px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-label,
.gigya-screen.gigya-composite-control.gigya-composite-control-link{
display:inline-block
}

.gigya-screen.gigya-composite-control.gigya-composite-control-label.main-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-header-text{
padding-bottom:40px;
display:block;
text-align:left
}

.gigya-screen.gigya-composite-control.gigya-composite-control-label.main-text.inlined,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.inlined.gig-tfa-header-text{
display:inline-block;
text-align:center
}

.gigya-screen.gigya-composite-control.gigya-composite-control-label.social-login-title{
padding-bottom:26px;
display:inline-block;
text-align:center
}

.gigya-screen.gigya-composite-control.gigya-composite-control-header{
padding-bottom:26px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-dropdown,
.gigya-screen.gigya-composite-control.gigya-composite-control-fieldset,
.gigya-screen.gigya-composite-control.gigya-composite-control-password,
.gigya-screen.gigya-composite-control.gigya-composite-control-textbox{
padding-bottom:5px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-dropdown.gigya-legend,
.gigya-screen.gigya-composite-control.gigya-composite-control-fieldset.gigya-legend,
.gigya-screen.gigya-composite-control.gigya-composite-control-password.gigya-legend,
.gigya-screen.gigya-composite-control.gigya-composite-control-textbox.gigya-legend{
margin:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-dropdown.gigya-label,
.gigya-screen.gigya-composite-control.gigya-composite-control-dropdown.gigya-legend,
.gigya-screen.gigya-composite-control.gigya-composite-control-fieldset.gigya-label,
.gigya-screen.gigya-composite-control.gigya-composite-control-fieldset.gigya-legend,
.gigya-screen.gigya-composite-control.gigya-composite-control-password.gigya-label,
.gigya-screen.gigya-composite-control.gigya-composite-control-password.gigya-legend,
.gigya-screen.gigya-composite-control.gigya-composite-control-textbox.gigya-label,
.gigya-screen.gigya-composite-control.gigya-composite-control-textbox.gigya-legend{
padding-bottom:6px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-dropdowninput,
.gigya-screen.gigya-composite-control.gigya-composite-control-dropdownselect,
.gigya-screen.gigya-composite-control.gigya-composite-control-fieldsetinput,
.gigya-screen.gigya-composite-control.gigya-composite-control-fieldsetselect,
.gigya-screen.gigya-composite-control.gigya-composite-control-passwordinput,
.gigya-screen.gigya-composite-control.gigya-composite-control-passwordselect,
.gigya-screen.gigya-composite-control.gigya-composite-control-textboxinput,
.gigya-screen.gigya-composite-control.gigya-composite-control-textboxselect{
margin-bottom:13px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-dropdown.gigya-error-msg-active,
.gigya-screen.gigya-composite-control.gigya-composite-control-fieldset.gigya-error-msg-active,
.gigya-screen.gigya-composite-control.gigya-composite-control-password.gigya-error-msg-active,
.gigya-screen.gigya-composite-control.gigya-composite-control-textbox.gigya-error-msg-active{
padding-top:0;
padding-bottom:8px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-captcha-widget{
padding-bottom:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-captcha-wrapper{
margin-bottom:5px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-captcha-wrapper.gigya-captcha{
margin:0auto13pxauto
}

.gigya-screen.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-captcha-wrapper.gigya-captchainput{
height:auto
}

.gigya-screen.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-captcha-wrapper.gigya-captcha.recaptcha_only_if_privacya,
.gigya-screen.portrait.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-captcha-wrapper.gigya-captcha.recaptcha_only_if_privacydiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-captcha-wrapper.gigya-captcha.recaptcha_only_if_privacy.gig-tfa-phone-code-resend{
font-size:12px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-captcha-widget.gigya-captcha-wrapper.gigya-error-msg-active{
padding-top:0;
padding-bottom:8px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-tfa-widget{
padding-bottom:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-button,
.gigya-screen.gigya-composite-control.gigya-composite-control-button+.gigya-error-display-active,
.gigya-screen.gigya-composite-control.gigya-composite-control-link.gigya-button-link,
.gigya-screen.gigya-composite-control.gigya-composite-control-link.gigya-button-link+.gigya-error-display-active,
.gigya-screen.gigya-composite-control.gigya-composite-control-submit,
.gigya-screen.gigya-composite-control.gigya-composite-control-submit+.gigya-error-display-active{
padding-bottom:25px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-link.gigya-button-link{
display:block
}

.gigya-screen.gigya-composite-control.gigya-composite-control-social-login{
padding:0
}

.gigya-screen.gigya-composite-control.gigya-composite-control-multi-choice.gigya-label{
padding-bottom:8px
}

.gigya-screen.gigya-composite-control.gigya-composite-control-multi-choice.gigya-multi-choice-item{
padding-top:10px;
display:-ms-flexbox;
display:flex;
-ms-flex-align:start;
align-items:flex-start
}

.gigya-screen.gigya-composite-control.gigya-composite-control-multi-choice.gigya-multi-choice-item.gigya-input-radio{
-ms-flex:00auto;
flex:00auto
}

.gigya-screen.gigya-composite-control.gigya-composite-control-multi-choice.gigya-multi-choice-itemlabel{
-ms-flex:00auto;
flex:00auto;
margin-left:8px;
width:100%;
display:block
}

.gigya-screen.gigya-composite-control.gigya-composite-control-checkbox{
display:-ms-flexbox!important;
display:flex!important;
-ms-flex-align:start;
align-items:flex-start
}

.gigya-screen.gigya-composite-control.gigya-composite-control-checkbox.gigya-input-checkbox{
-ms-flex:00auto;
flex:00auto
}

.gigya-screen.gigya-composite-control.gigya-composite-control-checkbox.gigya-label{
-ms-flex:00auto;
flex:00auto;
margin-left:8px;
width:100%;
display:block
}

.gigya-screen.gigya-composite-control.gigya-terms-error{
padding:5px;
margin-bottom:18px;
position:relative;
right:6px;
width:100%;
border-radius:5px;
border:1pxsolid#dd4b39
}

.gigya-screendiv.gigya-loginID-availability-available{
margin-bottom:18px
}

.gigya-screenform.gigya-form-error.gigya-composite-control.gigya-composite-control-button,
.gigya-screenform.gigya-form-error.gigya-composite-control.gigya-composite-control-form-error.gigya-error-display-active,
.gigya-screenform.gigya-form-error.gigya-composite-control.gigya-composite-control-link.gigya-button-link,
.gigya-screenform.gigya-form-error.gigya-composite-control.gigya-composite-control-submit{
padding-bottom:10px
}

.gigya-screen.landscape.gigya-layout-row.with-divider{
padding-bottom:25px
}

.gigya-screen.landscape.gigya-layout-row.with-divider.gigya-composite-control.gigya-composite-control-button,
.gigya-screen.landscape.gigya-layout-row.with-divider.gigya-composite-control.gigya-composite-control-link.gigya-button-link,
.gigya-screen.landscape.gigya-layout-row.with-divider.gigya-composite-control.gigya-composite-control-submit{
padding-bottom:0
}

.gigya-screen.landscapeform.gigya-form-error.gigya-layout-row.with-divider,
.gigya-screen.landscapeform.gigya-form-error.gigya-layout-row.with-divider.gigya-composite-control.gigya-composite-control-button,
.gigya-screen.landscapeform.gigya-form-error.gigya-layout-row.with-divider.gigya-composite-control.gigya-composite-control-link.gigya-button-link,
.gigya-screen.landscapeform.gigya-form-error.gigya-layout-row.with-divider.gigya-composite-control.gigya-composite-control-submit{
padding-bottom:10px
}

.gigya-screen.landscapeform.gigya-form-error.gigya-layout-row.with-divider.gigya-composite-control.gigya-composite-control-form-error.gigya-error-display-active{
padding-bottom:0
}

.gigya-screen.gigya-spacer-divider{
border-bottom:1pxsolid#d3d3d3;
margin-bottom:15px;
padding-bottom:5px
}

.gigya-screen.separator-wrapper{
height:100%;
display:-ms-flexbox;
display:flex;
-ms-flex-pack:center;
justify-content:center
}

.gigya-screen.separator-wrapper.or-separator{
display:-ms-flexbox;
display:flex;
-ms-flex-direction:column;
flex-direction:column;
-ms-flex-align:center;
align-items:center;
color:#d3d7da
}

.gigya-screen.separator-wrapper.or-separator.separator-line{
border-left:1pxsolid#d3d7da;
-ms-flex-positive:1;
flex-grow:1;
width:1px
}

.gigya-screen.separator-wrapper.or-separator.gigya-composite-control-label{
padding:4px0;
font-size:16px;
font-weight:700
}

.gigya-screen.gigya-layout-row.with-divider>.gigya-layout-cell{
min-width:48%;
width:48%
}

.gigya-screen.gigya-layout-row.with-divider>.gigya-layout-cell.with-divider{
min-width:4%;
width:4%
}

.gigya-screen.gigya-layout-row.with-divider>.gigya-layout-cell.with-divider>.gigya-divider-content{
padding:0;
position:relative;
line-height:16px;
background:#fff;
text-align:center;
min-width:10px
}

.gigya-screen.landscape.gigya-layout-row.gigya-layout-cell.under-site-login{
width:370px;
text-align:center;
min-width:0;
margin-left:460px
}

.gigya-screen.landscape.gigya-layout-row.with-divider{
display:-ms-flexbox;
display:flex
}

.gigya-screen.landscape.gigya-layout-row.with-divider>.gigya-layout-cell.with-divider{
margin-top:41px;
width:87px
}

.gigya-screen.landscape.gigya-layout-row.with-divider>.gigya-layout-cell.with-divider>.gigya-divider-content{
display:block;
line-height:15px;
padding:10px0;
top:50%;
left:0;
transform:translateY(-50%)
}

.gigya-screen.landscape.gigya-layout-row.with-divider>.gigya-layout-cell.with-site-login,
.gigya-screen.landscape.gigya-layout-row.with-divider>.gigya-layout-cell.with-social-login{
min-width:0;
width:370px
}

.gigya-screen.portrait.separator-wrapper{
margin-top:25px;
display:block
}

.gigya-screen.portrait.separator-wrapper.or-separator{
-ms-flex-align:center;
align-items:center;
display:-ms-flexbox;
display:flex;
-ms-flex-direction:row;
flex-direction:row
}

.gigya-screen.portrait.separator-wrapper.or-separator.separator-line{
background-color:#d3d7da;
-ms-flex:1;
flex:1;
height:1px
}

.gigya-screen.portrait.separator-wrapper.or-separator.gigya-composite-control-label{
padding:4px4px;
font-size:16px;
font-weight:700
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-link{
margin-left:24%;
margin-top:8%
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-email-text{
font-weight:700;
width:207px;
margin:0auto;
font-size:15px;
padding-bottom:25px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-email-code-header-text{
width:240px;
margin:0auto;
padding-top:6px;
padding-bottom:5px;
font-size:15px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-header-subtext,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-header-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-phonenumber{
display:inline
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-header-subtext+.gig-tfa-label{
margin-top:40px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-example{
display:block
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-label{
padding-bottom:6px;
display:block;
margin:0
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-label,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-example,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-select,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-header-text,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-yourphone-label{
margin:0018px0;
padding:0
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-header-text{
margin:0
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox{
font-size:15px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-error{
text-align:center;
margin-bottom:18px;
margin-top:-10px;
font-size:15px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-error:empty{
display:none
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-typespan,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-typespan{
display:inline
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-prefix{
display:none;
height:43px;
width:10%;
margin-top:0;
margin-right:16px;
text-align:center;
background-color:#f2f2f2
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-number{
margin-top:0;
height:43px;
width:100%
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerlabel{
display:inline
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-type,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-type-label,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type-label{
display:inline-block;
width:33.33333333%;
margin-bottom:18px;
margin-top:18px;
vertical-align:top
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-type-label,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type-label{
padding:5px0;
width:30.33333333%
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-type,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type{
margin-right:0;
margin-left:0;
width:33.33333333%
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-type-sms,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type-sms{
width:38.33333333%
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-register-type-voice-call,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-type-voice-call{
width:31.33333333%
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container{
margin:0
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button-submit{
background-image:none;
filter:none;
font-weight:400;
line-height:normal;
padding-top:10px;
margin-bottom:25px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-link{
width:70px;
line-height:43px;
float:right;
margin-top:-10px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-numbers{
margin-top:26px;
line-height:31px
}

.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-numbers:last-child{
padding-bottom:25px
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-containerinput.gig-tfa-phone-prefix,
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-containerinput.gig-tfa-phone-prefix{
display:none
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-link{
font-size:19px;
padding:0;
margin-top:0
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-prefix{
display:none;
width:10%;
margin-right:8px
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-number{
width:100%
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-label{
margin-left:0
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-error,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-code-resend{
font-size:13px
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-header-text{
font-size:13px;
color:#4e515e
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-numbers{
margin-top:30px
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-edit-numbers.gig-tfa-phone-edit-number{
font-size:13px;
margin-top:8px;
color:#4e515e
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-number,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-prefix{
font-size:13px;
height:36px
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button,
.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-button-container.gig-tfa-button-submit{
margin-bottom:15px
}

.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-phone-resend-header-text{
display:block
}

.gigya-screen-dialog-mobile.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-phone-number{
width:100%
}

#gigya-login-screen.gigya-screen.portrait.mobile.gigya-prefered-content-width{
width:375px
}

#gigya-register-screen.gigya-screen.landscape.gigya-layout-row.with-divider>.gigya-layout-cell.with-divider>.gigya-divider-content{
top:127px
}

#gigya-change-password-screen.error-wrapper{
width:100%
}

#gigya-change-password-screen.portrait.mobileinput[password]{
width:260px
}

#gigya-change-password-screen.portrait.mobileinput[submit]{
width:276px
}

.gigya-screendiv.gigya-composite-control-my-photo-widget.update-profile-my-photo{
padding-right:20px
}

.gigya-screen.link-accounts-main-header,
.gigya-screen.reauthentication-main-header{
margin-bottom:10px
}

.gigya-subscribe-with-email-form.gigya-header{
font-size:1.5em;
line-height:1.5em;
font-weight:bolder;
text-align:center
}

.subscribe-thank-you{
line-height:1.2em;
font-size:1.3em;
text-align:center
}

.subscribe-thank-youp{
margin-bottom:.5em;
text-align:center;
font-size:inherit
}

#gigya-org-register-screen.gigya-screen.landscape.gigya-layout-row.with-divider>.gigya-layout-cell.with-divider>.gigya-divider-content{
top:127px
}

.gigya-screen.gigya-layout-cell.gigya-email-otp-links-left*{
text-align:left
}

.gigya-screen.gigya-layout-cell.gigya-email-otp-links-right,
.gigya-screen.gigya-layout-cell.gigya-email-otp-links-right*{
text-align:right
}

.gigya-subscribe-to-sms-offers.gigya-header{
font-size:1.5em;
line-height:1.5em;
font-weight:bolder;
text-align:center
}

.gigya-mac.gigya-screenlabel.letter-spacing-s{
letter-spacing:-.3px
}

.gigya-ios.gigya-screen.landscape.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-checkbox,
.gigya-ios.gigya-screen.landscapeinput[type=checkbox],
.gigya-ios.gigya-screen.portrait.mobilediv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-checkbox,
.gigya-ios.gigya-screen.portrait.mobileinput[type=checkbox],
.gigya-ios.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-remember-checkbox,
.gigya-ios.gigya-screen.portraitinput[type=checkbox],
.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gigya-ios.gigya-screen.landscape.gig-tfa-code-remember-checkbox{
margin-bottom:5px
}

.gigya-ios.gigya-screen#gigya-change-password-screenformlabel:first-child{
letter-spacing:-.1px
}

.gigya-ios.gigya-screen#gigya-forgot-password-screenformlabel:first-child{
letter-spacing:-.3px
}

.gigya-native-mobile-app.gigya-android.gigya-screen.portrait.mobile.gigya-composite-control.gigya-composite-control-social-login{
right:28px
}

.gigya-edge.gigya-screenlabel.letter-spacing-s,
.gigya-ie10.gigya-screen.portraitlabel{
letter-spacing:-.3px
}

.gigya-ie10.gigya-screen.mobilelabel{
letter-spacing:0
}

.gigya-ie10.gigya-screen#gigya-change-password-screen.portrait.gigya-message{
letter-spacing:-.2px
}

.gigya-ie10.gigya-screen#gigya-change-password-screen.mobile{
letter-spacing:0
}

.gigya-ie9.gigya-screen#gigya-login-screen.landscape.gigya-layout-row.with-divider.gigya-layout-cell.with-divider{
height:202px
}

.gigya-ie9.gigya-screen#gigya-org-register-screen.landscape.gigya-layout-row.with-divider.gigya-layout-cell.with-divider,
.gigya-ie9.gigya-screen#gigya-register-screen.landscape.gigya-layout-row.with-divider.gigya-layout-cell.with-divider{
height:300px
}

.gigya-ie9.gigya-screenselect{
font-size:13px
}

.gigya-ie9.gigya-screen.gigya-input-password:not(.gigya-placeholder),
.gigya-ie9.gigya-screen.gigya-input-text:not(.gigya-placeholder),
.gigya-ie9.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox:not(.gigya-placeholder){
line-height:40px
}

.gigya-ie9.gigya-screen.gigya-composite-control-checkbox.gigya-label,
.gigya-ie9.gigya-screen.gigya-composite-control-multi-choice.gigya-multi-choice-itemlabel{
display:inline
}

.gigya-ie8.gigya-screen.gigya-layout-cell{
margin-left:0!important
}

.gigya-ie8.gigya-screen.gigya-layout-cell.under-site-login{
margin-left:460px!important
}

.gigya-ie8.gigya-screen.gigya-input-password,
.gigya-ie8.gigya-screen.gigya-input-text,
.gigya-ie8.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox{
padding-top:11px
}

.gigya-ie8.gigya-screen.portrait.gigya-layout-row.with-divider.gigya-layout-cell.with-divider.gigya-divider-content{
top:31px;
left:45%
}

.gigya-ie8.gigya-screen.portrait.gigya-input-password,
.gigya-ie8.gigya-screen.portrait.gigya-input-text,
.gigya-ie8.gigya-screen.portraitdiv.gigya-tfa.gig-tfa-container.gig-tfa-code-textbox{
padding-top:11px
}

.gigya-ie8.gigya-screen.portraitgigya-layout-cell{
margin-left:0!important
}

.gigya-ie8.gigya-screen.portrait#gigya-change-password-screen.portrait.gigya-message{
letter-spacing:-.2px
}

.gigya-ie8.gigya-screen.portrait#gigya-change-password-screen.mobile{
letter-spacing:0
}

.gigya-ie8.gigya-screen.portrait#gigya-forgot-password-screen.portraitlabel{
letter-spacing:-.3px
}

.gigya-ie8.gigya-screen.portrait#gigya-forgot-password-screen.mobilelabel{
letter-spacing:0
}

.gigya-ie8.gigya-screen#gigya-login-screen.landscape.gigya-layout-row.with-divider.gigya-layout-cell.with-divider{
height:202px
}

.gigya-ie8.gigya-screen#gigya-org-register-screen.landscape.gigya-layout-row.with-divider.gigya-layout-cell.with-divider,
.gigya-ie8.gigya-screen#gigya-register-screen.landscape.gigya-layout-row.with-divider.gigya-layout-cell.with-divider{
height:300px
}